* {
    box-sizing: border-box;
}

html, body {
        height: 100%;
        font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    height: 39px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    background-color: #1c262f;
    text-align: center;
}

#gErrorDiv {
    text-align: center;
    color: white;
}

#gErrorPar {
    text-align: center;
    color: white;
}

#pageHeader {
    display: inline-block;
    width: 90%;
    font-size: 21px;
    padding-top: 5px;
    margin: auto;
    color: white;
}

#openButton {
    width: 10%;
    color: #02b3e4;
}

/*Main container is fixed layout, no flex for sidebar and map*/
#mainContainer {
    display: flex;
    flex-wrap: wrap;
    height: 95%;
}

#sidebar {
    height: 100%;
    /*Will change width with javascript*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #2e3d49;
}

.placesHeading {
    text-align: center;
    color: white;
}

.listItem {
    color: white;
}

.listItem:hover {
    color: #02b3e4;
    cursor: pointer;
}

#closeButton {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 35px;
    margin-left: 40px;
    padding-right: 5px;
    margin-top: 2px;
    text-decoration: none;
    color: #02b3e4;
}

#closeButton:visited {
    text-decoration: none;
    color: #02b3e4;
}

#openButton {
    font-size: 20px;
}

#sidebar hr {
    border-width: 1px;
    border-style: dotted;
    border-color: #02b3e4;
}

#searchBox {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    padding: 4px;
}

#placesArea ul {
    list-style-type: square;
}

#infoWindow h3 {
    font-weight: bold;
    text-align: center;
}

#infoWindow p {
    text-align: left;
}

#infoWindow p:last-child {
    text-align: center;
}


.bigButton {
    width: 130px;
    height: 70px;
    display: block;
    margin: 5px auto;
    font-size: 15px;
    background-color: #02b3e4;
    border: none;
    border-radius: 1px;
    color: #fff
}

.smallButton {
    width: 140px;
    height: 50px;
    display: block;
    margin: 5px auto;
    font-size: 12px;
    background-color: #02b3e4;
    border: none;
    border-radius: 1px;
}

#wikiArticle {
    text-align: center;
    padding: 5px;
}

#wikiHeading {
    color: white;
}

#wikiText {
    color: white;
}

#wikiLink {
    text-decoration: none;
    background-color: #02b3e4;
    padding: 10px 15px;
    display: inline-block;
    color: white;
}

#wikiLink:visited {
    text-decoration: none;
    color: white;
}

#wikiLink:hover {
    text-decoration: none;
}

#map {
    width: 100%;
    background-color: #2e3d49;
}

#footer {
    text-align: center;
    color: white;
}



@media screen and (min-width: 451px) {

}

@media screen and (min-width: 701px) {
    header {
        height: 54px;
    }

    #pageHeader {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 25px;
        margin: 6px auto;
    }

    #openButton {
        font-size: 25px;
    }
}

@media screen and (min-width: 1051px) {

    header {

    }

    #sidebar {
        width: 30%;
        position: relative;
    }

    #map {
        width: 70%;
    }

    #closeButton {
        display: none;
    }

    #openButton {
        display: none;
    }

    #searchBox {
        margin: 5px auto;
    }

    #buttons {
        display: flex;
        flex-wrap: wrap;
    }

    #btnInfowindow {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }

    #btnInfowindow button:first-child {
        margin-right: 5px;
    }

    #btnInfowindow button:last-child {
        margin-left: 5px;
    }

}

@media screen and (min-width: 1400px) {
    #sidebar {
        width: 20%;
    }
    #map {
        width: 80%;
    }

}
